apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: shopping-cart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: mern-backend
          imagePullPolicy: Never
          env:
            - name: DB_HOST
              value: mysql-service
            - name: DB_USER
              value: root
            - name: DB_PASSWORD
              value: rootpass
            - name: DB_NAME
              value: shopping_cart
            - name: PORT
              value: "3400"
            - name: DB_URL
              value: "mysql://root:rootpass@mysql-service:3306/shopping_cart"
          ports:
            - containerPort: 3400
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: shopping-cart
spec:
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 3400
  type: NodePort

  