apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: shopping-cart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: rootpass
            - name: MYSQL_DATABASE
              value: shopping_cart
          ports:
            - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: shopping-cart
spec:
  selector:
    app: mysql
  ports:
    - port: 3306